@use 'src/styles/vars';

.form {
  width: 100%;
  margin: auto;
  background-color: vars.$main-color;
  padding: 2rem;
  &--input {
    margin: auto;
    padding: 1rem;
    display: block;
    box-shadow: 1px -3px 46px 3px rgba(13,76,147,0.75) inset;
    border: none;
  }
}
