@use 'src/styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');

* {
  font-family: 'Josefin Slab', serif;
  font-size: 1.5em;
}

.dashboard {
  position: fixed;
  right: 0;
  top: 0;
  width: 20vw;
  height: 100vh;
  overflow-y: auto;
  background-color: vars.$main-color;
  font-family: 'Josefin Slab', serif;
  font-size: 1.5em;
  &--state {
    padding: 2rem;
    color: vars.$grey;
    font-weight: 500;
  }
  &--location{
    padding: 1rem;
    box-shadow: 3px 2px 26px -6px rgba(13,76,147,0.84) inset;
    margin: 1rem;
    color: vars.$grey;
    &-button {
      border: none;
      background-color: transparent;
      color:vars.$alt-color;
      margin: auto;
      padding: 1rem;
      text-shadow: -2px 3px 2px rgba(144,23,23,0.61);
      &:hover{
        text-shadow: none;
      }
    }
  }
  &--input{
    display: block;
    margin: auto;
    font-size: .8em;
    border: none;
    width: 90%;
    height: 10%;
    box-shadow: -1px 15px 35px 0px rgba(72,209,204,0.75) inset;
    box-sizing: content-box;
    &:focus{
      outline: none;
    }
    &-button{
      width: 100%;
      text-align: center;
    }
  }
}

.fas,.fa-map-marker-alt {
  color: vars.$alt-color;
  display: inline-block;
  padding: .5rem;
  &:hover{
    cursor: pointer;
  }
}
