@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');

.dashboard {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100vh;
  background-color:#48D1CC;
  font-family: 'Josefin Slab', serif;
}
